/* Hide tab borders */
:root {
  --tabs-border: transparent !important;
  }

/* Hide separators between background tabs */
.tabbrowser-tab::before {
  color: purple !important; 
  opacity: 0 !important; 
  }

/* Hide border from rightmost background tab */
.tabbrowser-tab::after {
  color: green !important; 
  opacity: 0 !important; 
  }

/* Remove placeholder right border */
.titlebar-placeholder {
  border: none !important;
  }

/* Remove border under navbar */
#navigator-toolbox::after {
  border-bottom: 0px !important;
  }

/* tab line - adjust color & size */ 
.tab-line { 
  background-color: #0a84ff !important; 
  height: 0px !important;
  }
  
/* Additional rules for compact mode */
/* Remove padding above tabbar in compact mode */
#main-window[sizemode="normal"] > #titlebar {
  -moz-appearance: initial !important;
}

/* Tabs height - normal 33px, compact 29px */
#TabsToolbar{
  min-height: 32px !important;
}

/* URL bar - normal height 30px, compact height 26px, normal margin 4px, compact margin 3px */
#urlbar{
  min-height: 28px !important;
  margin-top: 4px !important;
  margin-bottom: 4px !important;
}